{{!< default}}

{{#post}}

    {{> post-meta}}

    <div class="animated fadeIn post-meta-container" {{#if image}}style="background-image: url({{image}})"{{/if}}>
        <div class="container" data-stellar-ratio="0.75">
            {{> title}}
            {{> sidebar}}
        </div>
    </div>

    <div class="push-article">

{{! Temporary indentation shift for Handlebars issue }}
{{> content}}

    </div>

    {{!> comments}}

{{/post}}
